// About page (/about)

#stats {
  table {
    width: 100%;
  }
}

.blogtiles {
  display:flex;
  flex-direction: row;
}

.blog-sections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;  
}

.blog-main{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.blog-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.blog-content {
  padding: 2px;
  border-radius: 10px;
  background-color: _palette(bg);
  text-align: center;
}

.blog-tile {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid _palette(fg-bold);
  border-radius: 5px;
  column-gap: 5px;
  margin: 10px;

  .blog-header{
    width: inherit;
    object-fit: scale-down;
    .blog-post-title{
      font-size: 70%;
    }
  }

  .tile-image{
    width: inherit;
    max-height: 100px;
    object-fit: cover;
    object-position: center bottom;
  }
  .blog-post-date{
    font-size: 10px;
  }
}

.blog-post-backto {
  text-align: left;
  color: _palette(fg-bold);
}
.post-heading {
  display: flex;
  flex-direction: column;
  .post-title {
    text-align: left;
  }
  .post-image {
    max-height: 200px;
    width: 100%;
  }
  .post-date {
    text-align: left;
    color: _palette(fg);
  }
}

.post-body{
  padding:10px;
  text-align: left;
  margin-top: 10px;
}
