// About page (/about)

.markdown {

  p {
    margin: 1em;
  }

  h1 {
    font-size: .8em;
    margin-top: 3em;
    list-style-position: inside;
  }

  li {
    list-style-type: none;
    font-size: 1em;
  }
}
